.hasError {
    border-color: red;
    color: red;
}

.error-block {
    background-color: #ce6c6c;
}

.background-color {
    background-color: #2f2a2a;
}

.form-control {
    background-color: #ceeaea;
}

