<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/layout :: head(#{products.title})"></head>
<body>

<div th:replace="fragments/layout :: navbar(rootPath='products/list')">Cia yra navbar (menu)</div>

<h2 th:text="#{products.title}"></h2>
<div th:if="${not productsPage.hasContent()}" th:text="#{products.emptyMessage}">></div>

<div th:with="urlRootPath=${#httpServletRequest.requestURI}">
    <div th:if="${productsPage.hasContent()}"
     class="container">
    <div th:replace="fragments/messages :: message"></div>
    <span th:text="#{products.all(${productsPage.totalElements})}"></span>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"><a th:replace="fragments/layout :: sortColumn(data=${productsPage}, name='name', path=@{*{urlRootPath}}, sortUp='fa-arrow-up-z-a', sortDown='fa-arrow-down-a-z', fieldName=#{products.name})"></a></th>
            <th scope="col"><a th:replace="fragments/layout :: sortColumn(data=${productsPage}, name='countOfStock', path=@{*{urlRootPath}}, sortUp='fa-arrow-up-9-1', sortDown='fa-arrow-down-1-9', fieldName=#{products.quantity})"></a></th>
            <th scope="col"><a th:replace="fragments/layout :: sortColumn(data=${productsPage}, name='price', path=@{*{urlRootPath}}, sortUp='fa-arrow-up-9-1', sortDown='fa-arrow-down-1-9', fieldName=#{products.price} + ' (' + ${currency} + ')')"></a></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${productsPage}">
            <td><a th:href="@{/products/{productId}/update(productId=${product.productId})}"
                   th:text="${product.name}"></a></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <form method="POST" th:action="@{/cart/{productId}(productId=${product.productId})}">
                    <button class="btn btn-primary">
                        <i class="fa-solid fa-cart-arrow-down"></i>
                    </button>
                </form>
                <a class="btn btn-danger"th:href="@{/products/{productId}/delete(productId=${product.productId})}" th:text="#{products.delete}"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <span th:text="#{products.all(${productsPage.totalElements})}"></span>

    <nav class="d-flex justify-content-center">
        <ul class="pagination"
            th:with="
                orderParam=${productsPage.sort.iterator().hasNext() ? productsPage.sort.iterator().next : null},
                sortParam=${orderParam ne null ? orderParam.property + ',' + orderParam.direction + ',ignorecase' : null}">
            <li class="page-item"
                th:classappend="${!productsPage.hasPrevious()} ? 'disabled'"
            >
                <a class="page-link"
                   th:href="@{*{urlRootPath}(page=${productsPage.number} - 1,sort=${sortParam})}"
                   th:text="#{products.previous}"
                ></a>
            </li>
            <li class="page-item"
                th:each="pageNumber: ${#numbers.sequence(0, productsPage.totalPages - 1)}"
                th:classappend="${pageNumber == productsPage.number ? 'active' : ''}"
            >
                <a class="page-link"
                   th:href="@{*{urlRootPath}(page=${pageNumber},sort=${sortParam})}"
                   th:text="${pageNumber + 1}"></a>
            </li>
            <li class="page-item"
                th:classappend="${!productsPage.hasNext()} ? 'disabled'"
            >
                <a class="page-link"
                   th:href="@{*{urlRootPath}(page=${productsPage.number} + 1,sort=${sortParam})}"
                   th:text="#{products.next}"
                ></a>
            </li>
        </ul>
    </nav>
</div>
</div>

<div th:replace="fragments/layout :: footer"></div>

</body>
</html>
