<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/layout :: head(#{create.product.title})"></head>
<body>

<div th:replace="fragments/layout :: navbar(rootPath='products')">Cia yra navbar (menu)</div>

<div class="container">
    <h3 th:text="#{create.product}"></h3>
    <form method="post" th:object="${productDto}">
        <div class="mb-3">
            <label th:text="#{create.product.name}"></label>
            <input class="form-control" type="text" placeholder="Write Name" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <div class="mb-3">
            <label th:text="#{create.product.quantity}"></label>
            <input class="form-control" type="number" placeholder="Write Quantity" th:field="*{quantity}">
            <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
        </div>

        <div class="mb-3">
            <label th:text="#{create.product.price}"></label>
            <input class="form-control" type="number" placeholder="Write Price" th:field="*{price}">
            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
        </div>

        <div class="mb-3">
            <label th:text="#{create.product.description}"></label>
            <textarea class="form-control" type="text" placeholder="Write Description"
                      th:field="*{description}"></textarea>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </div>

        <button class="btn btn-primary" type="submit" th:text="#{create.product.add}"></button>
    </form>

    <div th:text="${message}"></div>
</div>

<div th:replace="fragments/layout :: footer"></div>

</body>
</html>
