<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Create Product</title>
</head>
<body>
    <h3 th:text="#{create.product}"></h3>
    <form method="post" th:object="${product}">
        <label th:text="#{create.product.name}"></label>
        <input type="text" placeholder="Write Name" th:field="*{name}"><br/>

        <label th:text="#{create.product.quantity}"></label>
        <input type="number" placeholder="Write Quantity" th:field="*{quantity}"><br/>

        <label th:text="#{create.product.price}"></label>
        <input type="number" placeholder="Write Price" th:field="*{price}"><br/>

        <label th:text="#{create.product.description}"></label>
        <textarea type="text" placeholder="Write Description" th:field="*{description}"></textarea><br/><br/>

        <button type="submit" th:text="#{create.product.add}"></button>
    </form>

    <div th:text="${message}"></div>
</body>
</html>
