<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <title>Product list</title>
</head>
<body>
<h2>Products</h2>
<div th:if="${#lists.isEmpty(productPage)}">Product list is empty</div>
<div th:unless="${#lists.isEmpty(productPage)}"
     class="container">
    <span th:text="'Viso irasu: ' + ${productPage.totalElements}"></span><br/>
    <span th:text="'Viso puslapiu: ' + ${productPage.totalPages}"></span>
    <table class="table table-dark">
        <thead>
        <tr>
            <th>
                <a th:with="direction=${productPage.sort.getOrderFor('name')?.direction}"
                   th:href="@{/products/list(sort='name,' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'} + ',ignorecase' )}">
                    Name
                    <i class="fa-solid"
                       th:classappend="${direction?.name() eq 'ASC' ? 'fa-arrow-down-a-z' : 'fa-arrow-up-z-a'}"
                       th:if="${direction ne null}"></i>
                </a>
            </th>
            <th>
                <a th:with="direction=${productPage.sort.getOrderFor('countOfStock')?.direction}"
                   th:href="@{/products/list(sort='countOfStock,' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'} )}">
                    Quantity
                    <i class="fa-solid"
                       th:classappend="${direction?.name() eq 'ASC' ? 'fa-arrow-down-1-9' : 'fa-arrow-up-9-1'}"
                       th:if="${direction ne null}"></i>
                </a>
            </th>
            <th>
                <a th:with="direction=${productPage.sort.getOrderFor('price')?.direction}"
                   th:href="@{/products/list(sort='price,' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'} )}">
                    Price
                    <i class="fa-solid"
                       th:classappend="${direction?.name() eq 'ASC' ? 'fa-arrow-down-1-9' : 'fa-arrow-up-9-1'}"
                       th:if="${direction ne null}"></i>
                </a>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${productPage}">
            <td><a th:href="@{/products/{productId}/update(productId=${product.productId})}"
                   th:text="${product.name}"></a></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.price}"></td>
            <td><a th:href="@{/products/{productId}/delete(productId=${product.productId})}">Delete</a></td>
        </tr>
        </tbody>
    </table>

    <nav class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item"
                th:classappend="${!productPage.hasPrevious()} ? 'disabled'"
            >
                <a class="page-link" th:href="@{/products/list(page=${productPage.number} - 1)}">Previous</a>
            </li>
            <li class="page-item"
                th:each="pageNumber: ${#numbers.sequence(0, productPage.totalPages - 1)}"
                th:classappend="${pageNumber == productPage.number ? 'active' : ''}"
            >
                <a class="page-link" th:href="@{/products/list(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
            </li>
            <li class="page-item"
                th:classappend="${!productPage.hasNext()} ? 'disabled'"
            >
                <a class="page-link" th:href="@{/products/list(page=${productPage.number} + 1)}">Next</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
